<h1> Music Concert Network </h1>


<div style = "float:left; border: 2px solid black; width:45%;">
	<h2> Concerts Happening Today </h2>

	<ul>
		<% @concerts_today.each do |concert| %>
		<li>

			<a href="/concerts/<%=concert.id%>"><%= concert.band %> </a>

		</li>

	<%end%>
</div>

<div style = "float:right; border: 2px solid red; width:45%;">
	<h2> Later This Month </h2>

	<ul>
		<% @concerts_next_month.each do |concert| %>
		<li>

			<a href="/concerts/<%=concert.id%>"><%= concert.band %> </a>

		</li>

	<%end%>
</div>
<ul>
	<li><a href="/add"> Add New </a></li>
	<li><a href="/sort"> Find me a cheap concert! </a></li>
	<li><a href="/popular"> What's hot now </a></li>
</ul>




